@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

#root {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
}

body {
  font-family: 'Pathway Gothic One', sans-serif;
  margin: 0;
  height: 99vh;
  color: #F5F5F5;
}
